header, nav, aside, footer {
  background-color: rgb(255, 255, 255);
}

section {
  background-color: rgb(255, 255, 255);  
}

article {
  border: 5px solid white;
  margin: 5px;
  padding: 5px;
  background-color: lightskyblue;
}

header { grid-area: header; }
nav { grid-area: menu; }
section { grid-area: main}
aside { grid-area: sidebar; }
footer { grid-area: footer; }
footer p { text-align: center; }

body {
  font-family: sans-serif;
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu menu menu menu menu menu'
    'sidebar main main main main main'
    'footer footer footer footer footer footer';
  grid-gap: 10px;
}

aside {
  margin-left: 20%;
}

footer {
  background-color: rgb(90, 90, 90);
  height: 100%;
}

div.menu_principal {
  height: 100px;
  margin-top: 2%;
}

#nav_superior {
  background-color: rgb(211, 211, 211);    
}

#mensagem_rodape {
  color: white;
}

div.col-md-4 {
  padding-left: 9%;
  padding-right: 20%;
  width: 88%;
}

#barra_busca_produtos {
  width: 50%;
  display: inline;
  border: 2px solid;
  border-color: red;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#logotipo {
  display: inline-grid;
  width: 23%;
}

#busca_produtos {
  display: inline;
  margin: auto;
  width: 50%;
}

#img_logotipo {
  margin: auto;
  width: 15%;
  margin-left: 5%;
  margin-right: 2%;
}

#btn_buscar {
  display: inline-grid;
}

#nav-item {
  width: 50%;
}

.btn_buscar {
  display: inline;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: red;
  border-color: red;
  padding: 9px;
}

#icone_busca {
  color: white; 
}

#img_carrinho {
  width: 40px;
  height: 40px;
  margin-left: 5%;
}

#lista_carrinho {
  width: 60%;
}

#lista_produtos {
  width: 90%;
}

#lista_pedidos {
  width: 80%;
}

#btn_pedido {
  display: inline;
  margin-left: 32%;
}

#btn_continuar_compra {
  display: inline;
}

div.input-group {
  width: 100%;
}

img.card-img-top {
  width: 100%;
}

div.card {
  display: inline-grid;
  margin: 2%;
}

a.btn_comprar {
  width: 100%;
}

a.btn_cancelar_pedido {
  width: 75pt;
  margin-bottom: 5px;
  margin-left: 2%;
}

h4.dados_pedido {
  display: inline;
}

#link_pedidos {
  margin-left: 5%;
}

img.imagem_pedidos {
  width: 50pt;
}

.tabela_produto {
  width:40%;
}

.tabela_quantidade {
  width:10%;
}

.tabela_preco {
  width:10%;
}

.tabela_imagem {
  width:20%;
}

.quantidade_carrinho {
  width: 40pt;
}